/* Colors */
$black: #000;
$red: #e12814;
$gray: #f7f7f7;
$medium-gray: #d6d6d6;
$dark-gray: #343434;
$white: #ffffff;

/* Typography settings */
$base-font-size: 18px;

$fontfamily: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Sans-Serif;

$headings-font-family: $fontfamily;
$headings-font-weight: 700;
$body-font-family: $fontfamily;
$body-line-height: 1.77;

/* Link style variables */
$link-color: $red;
$link-hover-color: $black;

/* Navbar */
$navbar-light-color: lighten($black, 30%);

$dropdown-border-radius: none;
$dropdown-border-width: 1px;

$theme-colors: (
  "primary": $red,
  "danger": $red,
  "secondary": $medium-gray
);
