// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "variables";

// Optional
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
//@import "~bootstrap/scss/images";
//@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
//@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";
//@import "~bootstrap/scss/print";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";

@import "common/sticky-footer";
@import "common/base";
@import "common/buttons";
@import "common/forms";

@import "manage/typography";

.manage {
    @import "manage/header";
    @import "manage/home";
    @import "manage/core";
    @import "manage/cards";
    @import "manage/footer";
    @import "manage/widgets";
    @import "manage/pagination";
    @import "manage/breadcrumb";
    @import "manage/table";
}

.election {
    @import "manage/election";
}

.esign_dashboard {
    @import "manage/esign_dashboard";
}

.api_browse {
    @import "api/api";
}

$mdi-font-path: "~@mdi/font/fonts/";
@import "~@mdi/font/scss/materialdesignicons";

$simple-line-font-path: "~simple-line-icons/fonts/";
@import "~simple-line-icons/scss/simple-line-icons";

@import "~simplemde/dist/simplemde.min.css";

