{% extends "management/manage_base.html" %}
{% load sekizai_tags crispy_forms_tags pretty_json %}

{% block title %}{{ ballot_request }} | {{ block.super }}{% endblock title %}

{% block content %}
<div class="content-wrapper">
    <div class="col-lg-10 offset-lg-1">
        <h1>{{ ballot_request }}</h1>
        <div class="table-responsive-lg">
        <table class="table">
            <thead>
                <th>Field</th>
                <th>Value</th>
            </thead>
            <tbody>
                <tr>
                    <td>ID</td>
                    <td>{{ballot_request.uuid|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>Subscriber</td>
                    <td>{{ballot_request.subscriber.name|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>Time Started (UTC)</td>
                    <td>{{ballot_request.created_at|date:"Y-m-d g:i a"|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>First Name</td>
                    <td>{{ballot_request.first_name|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>Middle Name</td>
                    <td>{{ballot_request.middle_name|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>{{ballot_request.last_name|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>Suffix</td>
                    <td>{{ballot_request.suffix|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>Date of Birth</td>
                    <td>{{ballot_request.date_of_birth|date:"Y-m-d"|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ballot_request.email|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>Phone</td>
                    <td>{{ballot_request.phone|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>Address 1</td>
                    <td>{{ballot_request.address1|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>Address 2</td>
                    <td>{{ballot_request.address2|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>{{ballot_request.city|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>Zipcode</td>
                    <td>{{ballot_request.zipcode|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>State</td>
                    <td>{{ballot_request.state_id|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>Mailing Address 1</td>
                    <td>{{ballot_request.mailing_address1|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>Mailing Address 2</td>
                    <td>{{ballot_request.mailing_address2|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>Mailing City</td>
                    <td>{{ballot_request.mailing_city|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>Mailing State</td>
                    <td>{{ballot_request.mailing_state_id|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>Mailing Zipcode</td>
                    <td>{{ballot_request.mailing_zipcode|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>VoteAmerica SMS Opt In</td>
                    <td>{{ballot_request.sms_opt_in|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>Subscriber SMS Opt In</td>
                    <td>{{ballot_request.sms_opt_in_subscriber|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>Completed</td>
                    <td>{{ballot_request.action.details.finished|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>PDF Emailed to Voter</td>
                    <td>{{ballot_request.action.details.self_print|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>Redirected To State Website</td>
                    <td>{{ballot_request.action.details.finished_external_service|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>PDF submitted to LEO</td>
                    <td>{{ballot_request.action.details.leo_message_sent|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>PDF Download Count</td>
                    <td>{{ballot_request.action.details.total_downloads|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>Mailed forms with stamped envelope</td>
                    <td>{{ballot_request.action.details.finished_print_and_forward|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>{{ballot_request.source|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>utm_source</td>
                    <td>{{ballot_request.utm_source|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>utm_medium</td>
                    <td>{{ballot_request.utm_medium|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>utm_campaign</td>
                    <td>{{ballot_request.utm_campaign|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>utm_content</td>
                    <td>{{ballot_request.utm_content|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>utm_term</td>
                    <td>{{ballot_request.utm_term|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>Embed URL</td>
                    <td>{{ballot_request.embed_url|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>Session ID</td>
                    <td>{{ballot_request.session_id|default_if_none:""}}</td>
                </tr>
                <tr>
                    <td>Referring Tool</td>
                    <td>{{ballot_request.referring_tool|default_if_none:""}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
