{% extends "management/manage_base.html" %}
{% load sekizai_tags crispy_forms_tags %}

{% block title %}Edit {{ leo_contact_override.region.name }} | {{ block.super }}{% endblock title %}

{% block content %}
<div class="content-wrapper">
    <div class="col-lg-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'manage:absentee_override:leo_contact_override_list' %}">LEO Contact Overrides</a></li>
                <li class="breadcrumb-item">New</li>
            </ol>
        </nav>
        <div class="card">
            <div class="card-header">New Contact Override</div>
            <div class="card-body">
                <form role="form" method="POST" action="" novalidate>
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-block btn-primary">Create</button>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
