{% extends "email/base.html" %}
{% load markdownify %}
{% block content %}

{{ lead.first_name }},<br><br>

About a month ago we sent you some voter registration forms. Hopefully you completed those and mailed
them to your local election office!  If so, now is a good time to verify your voter registration online:
<br><br>

<strong><a href="{{state_info.external_tool_verify_status}}">Verify your voter registration</a></strong> in {{state_full}}.  (If you are not in {{state_full}}, you can use our site to <a href="https://voteamerica.com/am-i-registered-to-vote/">check your registration in any state</a>.)

<br><br>

If you didn't mail the form, or lost it, you can always request more forms from us at <a href="https://voteamerica.com/">VoteAmerica.com</a>.  (You can also request an absentee ballot to vote by mail, look up your polling place, and much more!)

<br><br>

Happy voting,<br>
VoteAmerica

{% endblock %}
