{% extends "email/base.html" %}
{% load markdownify %}
{% block content %}


{{ recipient.first_name }},<br><br>

If you have recently moved <strong>within the same county</strong> in
Texas, you can update your voter registration online:

<br><br>

<strong><a href="https://txapps.texas.gov/tolapp/sos/SOSACManager?lang=eng&XXtask=99">Update
your registration address (after moving within the same
county)</a></strong>

<br><br>

To use this form, you will need:

<ol>
  <li>Your Texas driver's license or ID card</li>
  <li>Your social security number</li>
  <li>Your Voter Registration Card VUID (Voter Unique Identifier) Number</li>
</ol>

If you have moved <strong>between counties</strong>, then you will
need to mail in a new voter registration form to update your voter
registration.  We can help by mailing you the form along with a
pre-stamped return envelope, or (if you have a printer, stamp, and
envelope) providing a form you can download and print yourself:

<br><br>

<strong><a href="https://voteamerica.com/register-to-vote/texas/">(Re-)Register to vote</a></strong>

<br><br>

Maybe you're still moving, unpacking the boxes, or dealing with one of
the many important things that come along with moving.  Re-registering
to vote is one of those important tasks that you don't want to lose
track of.  The good news is we can make it really easy! In fact, you
can do it right now.

<br><br>

Happy voting,<br>
VoteAmerica
