TARGETSMART_KEY=abcd123
MULTIFACTOR_ENABLED=False
USVOTEFOUNDATION_KEY=abcd123
ALLOY_KEY=asdf
ALLOY_SECRET=jklz
ABSENTEE_LEO_EMAIL_DISABLE=True
ABSENTEE_LEO_EMAIL_OVERRIDE_ADDRESS=blackhole@nowhere.voteamerica.com
