version: '3.7'
services:
  postgres:
    container_name: postgres_turnout
    image: postgis/postgis:11-2.5
    environment:
      - POSTGRES_DB=turnout
      - POSTGRES_PASSWORD=turnout
    ports:
      - "5432:5432"
    volumes:
      - pgdata_turnout:/var/lib/postgresql/data

  redis:
    container_name: redis_turnout
    image: 'redis:5.0.5'
    ports:
      - "127.0.0.1:6379:6379"
    volumes:
      - redisdata_turnout:/data

  rabbitmq:
    container_name: rabbitmq_turnout
    image: rabbitmq:3.8.8-management
    environment:
      - RABBITMQ_DEFAULT_VHOST=turnout
    ports:
      - 5672:5672
      - 15672:15672

  server:
    build:
      context: .
      dockerfile: Dockerfile-dev
      cache_from:
        - voteamerica/turnout-ci-cache:latest
    image: voteamerica/turnout-ci-cache:latest
    entrypoint: wait-for-it -t 45 postgres:5432 redis:6379 rabbitmq:5672 --
    command: watchmedo auto-restart --directory /app/ --pattern=*.yml --recursive -- python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./app:/app:cached
    ports:
      - "9001:8000"
    environment:
      - SECRET_KEY=abcd
      - DJANGO_SETTINGS_MODULE=turnout.settings
      - DATABASE_URL=postgis://postgres:turnout@postgres:5432/turnout
      - REDIS_URL=redis://redis:6379
      - AMQP_URL=amqp://guest:guest@rabbitmq:5672/turnout
      - ALLOWED_HOSTS=*
      - DEBUG=True
      - DD_AGENT_HOST=ddagent
      - DD_DOGSTATSD_PORT=3333
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
      - rabbitmq

  beat:
    image: voteamerica/turnout-ci-cache:latest
    entrypoint: wait-for-it -t 45 postgres:5432 redis:6379 rabbitmq:5672 --
    command: watchmedo auto-restart --directory /app/ --pattern=*.py --recursive -- python -m celery -A turnout.celery_beat beat --scheduler redbeat.RedBeatScheduler
    volumes:
      - ./app:/app
    environment:
      - SECRET_KEY=abcd
      - DJANGO_SETTINGS_MODULE=turnout.settings
      - DATABASE_URL=postgis://postgres:turnout@postgres:5432/turnout
      - REDIS_URL=redis://redis:6379
      - AMQP_URL=amqp://guest:guest@rabbitmq:5672/turnout
      - ALLOWED_HOSTS=*
      - DEBUG=True
      - DD_AGENT_HOST=ddagent
      - DD_DOGSTATSD_PORT=3333
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
      - rabbitmq

  worker:
    image: voteamerica/turnout-ci-cache:latest
    entrypoint: wait-for-it -t 45 postgres:5432 redis:6379 rabbitmq:5672 --
    command: watchmedo auto-restart --directory /app/ --patterns='*.py;*.yml' --recursive -- python -m celery -A turnout.celery_app worker -Q default,leouptime,usvf
    volumes:
      - ./app:/app
    environment:
      - SECRET_KEY=abcd
      - DJANGO_SETTINGS_MODULE=turnout.settings
      - DATABASE_URL=postgis://postgres:turnout@postgres:5432/turnout
      - REDIS_URL=redis://redis:6379
      - AMQP_URL=amqp://guest:guest@rabbitmq:5672/turnout
      - ALLOWED_HOSTS=*
      - DEBUG=True
      - DD_AGENT_HOST=ddagent
      - DD_DOGSTATSD_PORT=3333
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
      - beat
      - rabbitmq

  worker_bulk:
    image: voteamerica/turnout-ci-cache:latest
    entrypoint: wait-for-it -t 45 postgres:5432 redis:6379 rabbitmq:5672 --
    command: watchmedo auto-restart --directory /app/ --patterns='*.py;*.yml' --recursive -- python -m celery -A turnout.celery_app worker -Q tokens
    volumes:
      - ./app:/app
    environment:
      - SECRET_KEY=abcd
      - DJANGO_SETTINGS_MODULE=turnout.settings
      - DATABASE_URL=postgis://postgres:turnout@postgres:5432/turnout
      - REDIS_URL=redis://redis:6379
      - AMQP_URL=amqp://guest:guest@rabbitmq:5672/turnout
      - ALLOWED_HOSTS=*
      - DEBUG=True
      - DD_AGENT_HOST=ddagent
      - DD_DOGSTATSD_PORT=3333
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
      - beat
      - rabbitmq

  worker_high_pri:
    image: voteamerica/turnout-ci-cache:latest
    entrypoint: wait-for-it -t 45 postgres:5432 redis:6379 rabbitmq:5672 --
    command: watchmedo auto-restart --directory /app/ --patterns='*.py;*.yml' --recursive -- python -m celery -A turnout.celery_app worker -Q high-pri
    volumes:
      - ./app:/app
    environment:
      - SECRET_KEY=abcd
      - DJANGO_SETTINGS_MODULE=turnout.settings
      - DATABASE_URL=postgis://postgres:turnout@postgres:5432/turnout
      - REDIS_URL=redis://redis:6379
      - AMQP_URL=amqp://guest:guest@rabbitmq:5672/turnout
      - ALLOWED_HOSTS=*
      - DEBUG=True
      - DD_AGENT_HOST=ddagent
      - DD_DOGSTATSD_PORT=3333
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
      - beat
      - rabbitmq

  selenium:
    image: selenium/standalone-chrome:3.141.59-20200525
    ports:
      - "4444:4444"
    shm_size: '2gb'

  client:
    image: voteamerica/turnout-ci-cache:latest
    command: npm run develop
    volumes:
      - ./app:/app
      - /app/node_modules
    ports:
      - "35729:35729"
    env_file:
      - .env

  echo:
    image: voteamerica/turnout-ci-cache:latest
    command: python -m echo
    volumes:
      - ./app/echo.py:/app/echo.py
    ports:
      - "3333:3333"

  ddagent:
    image: datadog/agent
    environment:
      - DD_APM_ENABLED=true
      - DD_BIND_HOST=0.0.0.0
      - DD_LOG_LEVEL=CRITICAL
      - DATADOG_ENV=local
      - DATADOG_SERVICE_NAME=local
      - DD_TAGS='env:local'
    expose:
      - "8125/udp"
      - "8126"
    ports:
      - "8125:8125/udp"
      - "8126:8126"
    env_file:
      - .env

  docs:
    build:
      context: .
      dockerfile: Dockerfile-docs
    command: mkdocs serve -a 0.0.0.0:8000
    volumes:
      - ./docs:/docs
    ports:
      - "9003:8000"

volumes:
  pgdata_turnout:
  redisdata_turnout:
