{% extends "email/base.html" %}
{% block content %}

Hello,<br><br>

The {{ subscriber }} account has been activated.<br><br>

You will receive a separate email inviting you to create your personal account
within the {{ subscriber_name }} team. You’ll need to activate your personal
account in order to access the VoteAmerica admin portal.<br><br>

The admin portal portal allows you to do the following:<br>
<ul>
<li>Access your custom embed code</li>
<li>View usage stats</li>
<li>Export a CSV of your voter data</li>
<li>Enable or disable a SMS disclaimer checkbox</li>
<li>Sync to a 3rd party system, such as Bluelink</li>
</ul><br>

You might also want to check out the
<a href="https://docs.voteamerica.com/">VoteAmerica developer documentation.</a>
We update it regularly.<br><br>

If you have additional questions not covered above, feel free to reach out to
<a href="mailto:premium@voteamerica.com">premium@voteamerica.com</a>. We will
respond within 48 hours.<br><br>

Thank you for helping to increase voter turnout.<br><br>

~ The VoteAmerica team


{% endblock %}
