{% extends "management/manage_base.html" %}
{% load sekizai_tags crispy_forms_tags %}

{% block title %}Edit {{ leo_contact_override.region.name }} | {{ block.super }}{% endblock title %}

{% block content %}
{% add_data "body-class" "esign_dashboard" %}
<div class="content-wrapper">
    <div class="col-lg-10 offset-lg-1">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'manage:absentee_dashboard:esign_dashboard' %}">States</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'manage:absentee_dashboard:esign_region_dashboard' pk=state.pk %}">{{ state }} Regions</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="{% url 'manage:absentee_dashboard:leo_contact_override_detail' state=state.pk pk=leo_contact_override.pk %}">
                    {{ leo_contact_override.region.name }}
                  </a>
                </li>
                <li class="breadcrumb-item active">Delete</li>
            </ol>
        </nav>
        <div class="card">
            <div class="card-header">{{ leo_contact_override.region.name }} ( {{ leo_contact_override.pk }} )</div>
            <div class="card-body">
                <p>Are you sure you want to delete this override?</p>
                <form role="form" method="POST" action="" novalidate>
                    <button type="submit" class="btn btn-block btn-danger">Delete</button>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
