{% extends "management/manage_base.html" %}
{% load sekizai_tags crispy_forms_tags %}

{% block title %}Request an export | {{ block.super }}{% endblock title %}

{% block content %}
<div class="content-wrapper">
    <div class="col-lg-10 offset-lg-1">
        <h1>Exports</h1>
        <div class="card">
            <div class="card-body">
                <p>Please use the form below to request an export of all of your data.</p>
                <p>Review <a href="https://docs.voteamerica.com/admin/exportformat/">the export file format documentation</a>
                    for information about what each column in the export stands for.</p>
                <form role="form" method="POST" action="" novalidate>
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-block btn-primary">Request</button>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
