{% extends "email/base.html" %}
{% load markdownify %}
{% block content %}


{{ recipient.first_name }},<br><br>

The voter registration form that we mailed to you was returned to us by the USPS.  The address we tried to mail it to was:<br><br>

<div>
  {{ registration.first_name }} {{ registration.last_name }}<br>
  {{ registration.request_mailing_address1 }} {{ registration.request_mailing_address2|default:"" }}<br>
  {{ registration.request_mailing_city }}, {{ registration.request_mailing_state.code }} {{ registration.request_mailing_zipcode }}<br>
</div>

<br>

We're very sorry the letter was not delivered.  If the address above is incorrect, please <a href="https://www.voteamerica.com/register-to-vote/?{{query_params}}&utm_medium=email&utm_source=turnout&utm_campaign=register-print-and-forward-returned&source=va_email_turnout_register-print-and-forward-returned&refcode=va_email_turnout_register-print-and-forward-returned" target="_blank">use our registration tool again</a> with the correct mailing address for the registration form.

<br><br>

Happy voting,<br>
{{ subscriber.name }}{% if not subscriber.is_first_party %} via VoteAmerica{% endif %}

{% endblock %}
