{% extends "email/base.html" %}
{% load markdownify %}
{% block content %}


{{ recipient.first_name }},<br><br>
Just a few more steps to complete your voter registration.
<br><br>

<!--[if gte mso 9]>
<br>
<![endif]-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom: 15px;">
    <tr>
        <td>
            <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center"
                        style="-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;width: 300px;"
                        bgcolor="#e23c16">
                        <a href="{{ confirm_url }}"
                            target="_blank"
                            style="font-size: 22px; font-family: Arial, sans-serif; color: #ffffff; text-decoration: none; text-decoration: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding: 10px 25px; border: 1px solid #e23c16; display: inline-block;;font-weight: bold">Mail me my registration form</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--[if gte mso 9]>
<br>
<![endif]-->

<ol style="margin-left:0;padding-left:0">
    <li>Click the button above to confirm that you'd like us to mail your <a href="{{ mail_download_url }}">voter registration form</a>, complete with a stamped return envelope.</li>
    <li>Wait 4-5 days for the letter to arrive.</li>
    <li><strong>Sign and date</strong> the form.</li>
    <li>Mail your completed form using the provided envelope to your local election clerk:</li>
</ol>

We will mail you two copies of the voter registration form.  The first form is prefilled with the information you provided, and only needs to be signed and dated.  A second blank form is also included in case there are errors, or there is someone else in your household who also needs to register.<br><br>

<hr><br>

Your voter registration form must be <strong>{{ state_info.2020_registration_deadline_by_mail|markdownify }}</strong>.<br><br>

Helpful hints:
<ul style="margin-left:0;padding-left:0">
    <li>
        If you <b>do</b> have access to a printer, you can <a href="{{ download_url }}">download the form</a> and print it yourself.  For example, you may be able to print the form out at any local library. If your
        library isn't open, you can print for a few dollars at
        <a href="https://www.staples.com/services/printing/" target="_blank" rel="noopener noreferrer">Staples</a>,
        <a href="https://www.fedex.com/en-us/office.html" target="_blank" rel="noopener noreferrer">FedEx Office</a>,
        or <a href="https://www.theupsstore.com/print" target="_blank" rel="noopener noreferrer">UPS</a>.
    If you don’t have a stamp, you can buy one from any grocery store: just ask the cashier to sell you one.</li>
</ul>

<hr><br>

You are not registered to vote until your state processes this form.  You should receive written confirmation within 1-2 weeks.
If not, you might want to <a href="https://www.voteamerica.com/local-election-offices/{{registration.state.code}}/">call your local election office</a>{% if state_info.external_tool_verify_status %} or use the <a href="{{ state_info.external_tool_verify_status }}">State of {{ registration.state }} website</a>{% endif %} to confirm that you are now registered to vote.<br><br>

<hr><br>

{% if subscriber.is_first_party %}
One last thing: We are a small nonprofit and we don’t take any government funding.
<a href="https://secure.actblue.com/donate/tipjar?email={{registration.email}}&firstname={{registration.first_name}}&lastname={{registration.last_name}}&zip={{registration.zipcode}}&city={{registration.city}}&state={{registration.state.code}}&phone={{registration.phone.as_e164}}&addr1={{registration.address1}}&refcode=register_file_notification" target="_blank">
    Can you chip in $3 to support our work?
</a>
<br><br>
{% endif %}

Happy voting,<br>
{{ subscriber.name }}{% if not subscriber.is_first_party %} via VoteAmerica{% endif %}

{% endblock %}
