{% extends "email/base.html" %}
{% load markdownify %}
{% block content %}


{{ recipient.first_name }},<br><br>
Your voter registration has been submitted!
<br><br>

You are not registered to vote until your state processes this form.  If you do not receive a written confirmation within 2 weeks, you should <a href="https://www.voteamerica.com/local-election-offices/{{registration.state.code}}/">call your local election office</a>{% if state_info.external_tool_verify_status %} or use the <a href="{{ state_info.external_tool_verify_status }}">State of {{ registration.state }} website</a>{% endif %} to confirm that you are now registered to vote.<br><br>

<hr><br>

{% if subscriber.is_first_party %}
One last thing: We are a small nonprofit and we don’t take any government funding.
<a href="https://secure.actblue.com/donate/tipjar?email={{registration.email}}&firstname={{registration.first_name}}&lastname={{registration.last_name}}&zip={{registration.zipcode}}&city={{registration.city}}&state={{registration.state.code}}&phone={{registration.phone.as_e164}}&addr1={{registration.address1}}&refcode=register_file_notification" target="_blank">
    Can you chip in $3 to support our work?
</a>
<br><br>
{% endif %}

Happy voting,<br>
{{ subscriber.name }}{% if not subscriber.is_first_party %} via VoteAmerica{% endif %}

{% endblock %}
