{% extends "email/base.html" %}
{% block content %}

Dear Election Official,
<br><br>
This transmission of the attached form for {{ballot_request.first_name}} {{ballot_request.last_name}}
was effectuated by {{ballot_request.first_name}} {{ballot_request.last_name}}.
{{ballot_request.first_name}} {{ballot_request.last_name}} manually filled, signed, and initiated
this transmission of the attached form without intervention or assistance from a 3rd party.
Replying to this transmission will reply directly to {{ballot_request.first_name}} {{ballot_request.last_name}}.
Please process the attached form for {{ballot_request.first_name}} {{ballot_request.last_name}}.
<br><br>
Thank you.
<br><br>
--
<br><br>
Email services provided by VoteAmerica.com. VoteAmerica is a nonpartisan,
nonprofit organization that works to increase turnout in all 50 states.  If you
have any questions, please contact
<a href="mailto:legal@voteamerica.com">legal@voteamerica.com</a>
{% if debug %}
<br><br>
--
<br><br>
This email would have been sent to {{leo_email}}
{% endif %}
{% endblock %}
