{% extends "email/base.html" %}
{% load markdownify %}
{% block content %}


{{ recipient.first_name }},<br><br>

The absentee ballot request form that we mailed to you was returned to us by the USPS.  The address we tried to mail it to was:<br><br>

<div>
  {{ ballot_request.first_name }} {{ ballot_request.last_name }}<br>
  {{ ballot_request.request_mailing_address1 }} {{ ballot_request.request_mailing_address2|default:"" }}<br>
  {{ ballot_request.request_mailing_city }}, {{ ballot_request.request_mailing_state.code }} {{ ballot_request.request_mailing_zipcode }}<br>
</div>

<br>

We're very sorry the letter was not delivered.  If the address above is incorrect, please <a href="https://www.voteamerica.com/vote-by-mail/?{{query_params}}&utm_medium=email&utm_source=turnout&utm_campaign=absentee-print-and-forward-returned&source=va_email_turnout_absentee-print-and-forward-returned&refcode=va_email_turnout_absentee-print-and-forward-returned" target="_blank">use our vote by mail tool again</a> with the correct mailing address for the form.

<br><br>

Happy voting,<br>
{{ subscriber.name }}{% if not subscriber.is_first_party %} via VoteAmerica{% endif %}

{% endblock %}
