{% extends "management/manage_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Change Subscriber | {{ block.super }}{% endblock title %}

{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <h1>Select A Subscriber To Use</h1>
            <p>Select which subscriber you wish to view the dashboard for.</p>
            <form role="form" method="POST" action="">
                <div class="list-group">
                    {% for id, name in form.subscriber.field.choices %}
                    {% if id %}
                    <button type="submit" name="subscriber" value="{{ id }}"
                        class="list-group-item list-group-item-action{% if id == request.user.active_client.pk %} active{% endif %}">{{ name }}</button>
                    {% endif %}
                    {% endfor %}
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
