{% extends "management/manage_base.html" %}

{% block title %}Embed Code | {{ block.super }}{% endblock title %}

{% block content %}
<div class="content-wrapper">

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ user.active_client }} Embed Code</h1>
                <p>Insert the following snippets of code into your website to embed VoteAmerica's tools.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Register Tool</div>
                    <div class="card-body">
                        <code>
                            &lt;script src="https://cdn.voteamerica.com/embed/tools.js" async&gt;&lt;/script&gt;<br>
                            &lt;div class="voteamerica-embed" data-subscriber="{{ user.active_client_slug }}" data-tool="register"&gt;&lt;/div&gt;
                        </code>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Absentee Tool</div>
                    <div class="card-body">
                        <code>
                            &lt;script src="https://cdn.voteamerica.com/embed/tools.js" async&gt;&lt;/script&gt;<br>
                            &lt;div class="voteamerica-embed" data-subscriber="{{ user.active_client_slug }}" data-tool="absentee"&gt;&lt;/div&gt;
                        </code>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Verify Tool</div>
                    <div class="card-body">
                        <code>
                            &lt;script src="https://cdn.voteamerica.com/embed/tools.js" async&gt;&lt;/script&gt;<br>
                            &lt;div class="voteamerica-embed" data-subscriber="{{ user.active_client_slug }}" data-tool="verify"&gt;&lt;/div&gt;
                        </code>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Polling Place Locator Tool</div>
                    <div class="card-body">
                        <code>
                            &lt;script src="https://cdn.voteamerica.com/embed/tools.js" async&gt;&lt;/script&gt;<br>
                            &lt;div class="voteamerica-embed" data-subscriber="{{ user.active_client_slug }}" data-tool="locate"&gt;&lt;/div&gt;
                        </code>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Local Election Office Directory Tool</div>
                    <div class="card-body">
                        <code>
                            &lt;script src="https://cdn.voteamerica.com/embed/tools.js" async&gt;&lt;/script&gt;<br>
                            &lt;div class="voteamerica-embed" data-subscriber="{{ user.active_client_slug }}" data-tool="leo"&gt;&lt;/div&gt;
                        </code>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}
