{% extends "management/manage_base.html" %}

{% block title %}Embed Code | {{ block.super }}{% endblock title %}

{% block content %}
<div class="content-wrapper">
    <div class="col-lg-10 offset-lg-1">
        <div>
            <h1>{{ user.active_client }} Embed Code</h1>
            <p>Insert the following snippets of code into your website to embed VoteAmerica's tools.</p>
        </div>
        <div>
            <div class="card">
                <div class="card-header">
                    <a href="https://www.voteamerica.com/register-to-vote/">Register Tool</a>
                </div>
                <div class="card-body">
                    <code>
                        &lt;script src="https://cdn.voteamerica.com/embed/tools.js" async&gt;&lt;/script&gt;<br>
                        &lt;div class="voteamerica-embed" data-subscriber="{{ user.active_client_slug }}" data-tool="register"&gt;&lt;/div&gt;
                    </code>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <div class="card-header">
                    <a href="https://www.voteamerica.com/absentee-ballot/">Absentee Tool</a>
                </div>
                <div class="card-body">
                    <code>
                        &lt;script src="https://cdn.voteamerica.com/embed/tools.js" async&gt;&lt;/script&gt;<br>
                        &lt;div class="voteamerica-embed" data-subscriber="{{ user.active_client_slug }}" data-tool="absentee"&gt;&lt;/div&gt;
                    </code>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <div class="card-header">
                    <a href="https://www.voteamerica.com/am-i-registered-to-vote/">Verify Tool</a>
                </div>
                <div class="card-body">
                    <code>
                        &lt;script src="https://cdn.voteamerica.com/embed/tools.js" async&gt;&lt;/script&gt;<br>
                        &lt;div class="voteamerica-embed" data-subscriber="{{ user.active_client_slug }}" data-tool="verify"&gt;&lt;/div&gt;
                    </code>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <div class="card-header">
                    <a href="https://www.voteamerica.com/where-is-my-polling-place/">Polling Place Locator Tool</a>
                </div>
                <div class="card-body">
                    <code>
                        &lt;script src="https://cdn.voteamerica.com/embed/tools.js" async&gt;&lt;/script&gt;<br>
                        &lt;div class="voteamerica-embed" data-subscriber="{{ user.active_client_slug }}" data-tool="locate"&gt;&lt;/div&gt;
                    </code>
                </div>
            </div>
        </div>
        <div>
            <div class="card">
                <div class="card-header">
                    <a href="https://www.voteamerica.com/local-election-offices/">
                        Local Election Office Directory Tool
                    </a>
                </div>
                <div class="card-body">
                    <code>
                        &lt;script src="https://cdn.voteamerica.com/embed/tools.js" async&gt;&lt;/script&gt;<br>
                        &lt;div class="voteamerica-embed" data-subscriber="{{ user.active_client_slug }}" data-tool="leo"&gt;&lt;/div&gt;
                    </code>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
