{% extends "management/manage_base.html" %}
{% load sekizai_tags crispy_forms_tags %}

{% block title %}Update {{ user.active_client }} | {{ block.super }}{% endblock title %}

{% block content %}
<div class="content-wrapper">
    <div class="col-lg-12">
        <h1>Subscriber Settings</h1>
        <p>Some parts of VoteAmerica's toolset can be customized on a per-subscriber basis. Updates made on this form take effect immediately.</p>
        <div class="card">
            <div class="card-header">{{ user.active_client }} Settings</div>
            <div class="card-body">
                <form role="form" method="POST" action="" novalidate>
                    {{ form.name|as_crispy_field }}
                    <h3>URLs</h3>
                    {{ form.url|as_crispy_field }}
                    {{ form.privacy_policy|as_crispy_field }}
                    {% if user.active_client.plan_has_data_access %}
                    <h3>SMS Program</h3>
                    {{ form.sms_mode|as_crispy_field }}
                    <small class="form-text text-muted manual-help">
                        If you choose to collect SMS opt-ins, we will show a checkbox to users
                        on the first page of the tools saying &ldquo;By checking this box, you agree
                        to receive text messages from {{ user.active_client }}. Message
                        and data rates may apply. Message frequency varies. Text STOP to unsubscribe
                        or HELP for more info.&rdquo; If you need custom opt-in language, email
                        <a href="mailto:legal@voteamerica.com">legal@voteamerica.com</a>.
                    </small>
                    <h3>Third Party Integrations</h3>
                    <p><small>Bluelink and TMC syncs happen nightly. Your VoteAmerica subscriber ID is <code><small>{{ user.active_client_slug }}</small></code>.</small></p>
                    {{ form.sync_bluelink|as_crispy_field }}
                    {{ form.sync_tmc|as_crispy_field }}
                    {{ form.sync_actionnetwork|as_crispy_field }}
                    {{ form.actionnetwork_api_key|as_crispy_field }}
                    {% endif %}
                    <button type="submit" class="btn btn-block btn-primary">Update</button>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
