html {
    overflow-y: scroll;
}

.public-page-wrap {
    margin-top: 50px;
    margin-bottom: 25px;
}

.hidden-submit {
    overflow: visible;
    height: 0;
    width: 0;
    margin: 0;
    border: 0;
    padding: 0;
    display: block;
}

form input[type=radio] ~ label.form-check-label {
    font-weight: normal;
    margin-bottom: 10px;
}

.manual-help {
    margin-top: -15px;
    margin-bottom: 15px;
}

h3 {
    margin-top: 40px
}
