{% extends "management/manage_base.html" %}
{% load sekizai_tags %}

{% block title %}List of States | {{ block.super }}{% endblock title %}

{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <h1>States</h1>
            <div class="table-responsive-lg">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for state in states %}
                        <tr>
                            <td scope="row">
                                <a href="{% url 'manage:election:state' state.pk %}">{{ state.name }}</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if is_paginated %}
                {% include "management/inc/pagination.html" %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
