{% extends "base.html" %}
{% load i18n static crispy_forms_tags %}

{% block body %}
<div id="wrap" class="wrap">
  {% block content_wrapper %}
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3 public-page-wrap">

{% block content %}
  <h1>{% block title %}Password reset sent{% endblock %}</h1>

<p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>

<p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>

{% endblock %}

        </div>
      </div>
    </div>
  {% endblock %}
</div>
{% endblock %}

