{% extends "base.html" %}
{% load i18n static crispy_forms_tags %}

{% block body %}
<div id="wrap" class="wrap">
  {% block content_wrapper %}
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3 public-page-wrap">

{% block content %}
  <h1>{% block title %}Password reset{% endblock %}</h1>

<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

<form method="post">{% csrf_token %}
    {{ wizard.management_form }}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary btn-block">Send Password Reset Link</button>
</form>
{% endblock %}


        </div>
      </div>
    </div>
  {% endblock %}
</div>
{% endblock %}
