{% extends "management/manage_base.html" %}
{% load sekizai_tags crispy_forms_tags pretty_json %}

{% block title %}{{ lookup }} | {{ block.super }}{% endblock title %}

{% block content %}
<div class="content-wrapper">
    <div class="col-lg-10 offset-lg-1">
        <h1>{{ lookup }}</h1>
        <div class="table-responsive-lg">
            <table class="table">
                <thead>
                    <th>Field</th>
                    <th>Value</th>
                </thead>
                <tbody>
                    <tr>
                        <td>ID</td>
                        <td>{{lookup.uuid|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Subscriber</td>
                        <td>{{lookup.subscriber.name|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Time Started UTC</td>
                        <td>{{lookup.created_at|date:"Y-m-d g:i a"|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>First Name</td>
                        <td>{{lookup.first_name|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>{{lookup.last_name|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Date of Birth</td>
                        <td>{{lookup.date_of_birth|date:"Y-m-d"|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{lookup.email|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>{{lookup.phone|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Address 1</td>
                        <td>{{lookup.address1|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Address 2</td>
                        <td>{{lookup.address2|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>{{lookup.city|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Zipcode</td>
                        <td>{{lookup.zipcode|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>State</td>
                        <td>{{lookup.state_id|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>VoteAmerica SMS Opt In</td>
                        <td>{{lookup.sms_opt_in|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Subscriber SMS Opt In</td>
                        <td>{{lookup.sms_opt_in_subscriber|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Registered</td>
                        <td>{{lookup.registered|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>source</td>
                        <td>{{lookup.source|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>utm_source</td>
                        <td>{{lookup.utm_source|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>utm_medium</td>
                        <td>{{lookup.utm_medium|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>utm_campaign</td>
                        <td>{{lookup.utm_campaign|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>utm_content</td>
                        <td>{{lookup.utm_content|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>utm_term</td>
                        <td>{{lookup.utm_term|default_if_none:""}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
