{% extends "management/manage_base.html" %}
{% load sekizai_tags tz %}

{% block title %}Register | {{ block.super }}{% endblock title %}

{% block content %}
<div class="content-wrapper">
    <div class="col-lg-12">
        <h1>Register</h1>
        {% include "action/manage/inc/action_listview_search.html" %}
        <div class="table-responsive-lg">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Date of Birth</th>
                        <th>State</th>
                        <th>Start Time <small>({{ user.timezone }})</small></th>
                    </tr>
                </thead>
                <tbody>
                    {% for registration in registrations %}
                    <tr>
                        <td>
                            <a href="{% url 'manage:register:registration_detail' user.active_client_slug registration.pk %}">{{ registration.first_name }} {{ registration.last_name }}</a>
                        </td>
                        <td>
                            {{ registration.email }}
                        </td>
                        <td>
                            {{ registration.date_of_birth|date:"Y-m-d" }}
                        </td>
                        <td>
                            {{ registration.state.pk }}
                        </td>
                        <td>
                            {{ registration.created_at|timezone:user.timezone|date:"Y-m-d g:i a" }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if is_paginated %}
        {% include "management/inc/pagination.html" %}
        {% endif %}
    </div>
</div>
{% endblock %}
