{% extends "management/manage_base.html" %}
{% load sekizai_tags crispy_forms_tags pretty_json %}

{% block title %}{{ registration }} | {{ block.super }}{% endblock title %}

{% block content %}
<div class="content-wrapper">
    <div class="col-lg-10 offset-lg-1">
        <h1>{{ registration }}</h1>
        <div class="table-responsive-lg">
            <table class="table">
                <thead>
                    <th>Field</th>
                    <th>Value</th>
                </thead>
                <tbody>
                    <tr>
                        <td>ID</td>
                        <td>{{registration.uuid|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Subscriber</td>
                        <td>{{registration.subscriber.name|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Time Started (UTC)</td>
                        <td>{{registration.created_at|date:"Y-m-d g:i a"|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Previous Title</td>
                        <td>{{registration.previous_title|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Previous First Name</td>
                        <td>{{registration.previous_first_name|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Previous Middle Name</td>
                        <td>{{registration.previous_middle_name|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Previous Last Name</td>
                        <td>{{registration.previous_last_name|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Previous Suffix</td>
                        <td>{{registration.previous_suffix|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Title</td>
                        <td>{{registration.title|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>First Name</td>
                        <td>{{registration.first_name|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Middle Name</td>
                        <td>{{registration.middle_name|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>{{registration.last_name|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Suffix</td>
                        <td>{{registration.suffix|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Date of Birth</td>
                        <td>{{registration.date_of_birth|date:"Y-m-d"|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>{{registration.gender|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Race-Ethnicity</td>
                        <td>{{registration.race_ethnicity|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>US Citizen</td>
                        <td>{{registration.us_citizen|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Party</td>
                        <td>{{registration.party|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{registration.email|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>{{registration.phone|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Address 1</td>
                        <td>{{registration.address1|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Address 2</td>
                        <td>{{registration.address2|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>{{registration.city|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Zipcode</td>
                        <td>{{registration.zipcode|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>State</td>
                        <td>{{registration.state_id|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Previous Address 1</td>
                        <td>{{registration.previous_address1|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Previous Address 2</td>
                        <td>{{registration.previous_address2|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Previous City</td>
                        <td>{{registration.previous_city|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Previous State</td>
                        <td>{{registration.previous_state_id|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Previous Zipcode</td>
                        <td>{{registration.previous_zipcode|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Mailing Address 1</td>
                        <td>{{registration.mailing_address1|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Mailing Address 2</td>
                        <td>{{registration.mailing_address2|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Mailing City</td>
                        <td>{{registration.mailing_city|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Mailing State</td>
                        <td>{{registration.mailing_state_id|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Mailing Zipcode</td>
                        <td>{{registration.mailing_zipcode|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>VoteAmerica SMS Opt In</td>
                        <td>{{registration.sms_opt_in|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Subscriber SMS Opt In</td>
                        <td>{{registration.sms_opt_in_subscriber|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Completed</td>
                        <td>{{registration.action.details.finished|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>PDF Emailed to Voter</td>
                        <td>{{registration.action.details.self_print|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Redirected To State Website</td>
                        <td>{{registration.action.details.finished_external_service|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>PDF Submitted to LEO</td>
                        <td>{{registration.action.details.leo_message_sent|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Total Self Print Downloads</td>
                        <td>{{registration.action.details.total_downloads|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>source</td>
                        <td>{{registration.source|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>utm_source</td>
                        <td>{{registration.utm_source|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>utm_medium</td>
                        <td>{{registration.utm_medium|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>utm_campaign</td>
                        <td>{{registration.utm_campaign|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>utm_content</td>
                        <td>{{registration.utm_content|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>utm_term</td>
                        <td>{{registration.utm_term|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Embed URL</td>
                        <td>{{registration.embed_url|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Session ID</td>
                        <td>{{registration.session_id|default_if_none:""}}</td>
                    </tr>
                    <tr>
                        <td>Referring Tool</td>
                        <td>{{registration.referring_tool|default_if_none:""}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
