{% extends "base.html" %}
{% load static sekizai_tags crispy_forms_tags %}

{% block body %}
<div id="wrap" class="wrap">
    {% block content %}
    <div class="container" id="main">
        {% block subnav %}{% endblock subnav %}
        <div class="row">
            <div class="col-md-6 offset-md-3 public-page-wrap">
                <div class="row">
                    <div class="col-md-12">
                        <h2>VoteAmerica</h2>
                        {% if user.allowed_clients %}
                        <p class="subheading">Select a subscriber</p>
                        <p>Please select one of the following subscribers to view the dashboard as.</p>
                        <form role="form" method="POST" action="">
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-block btn-primary">Login</button>
                            {% csrf_token %}
                        </form>
                        {% else %}
                        <p class="subheading">Access restricted</p>
                        <p>Your access to subscriber dashboards is inactive or has been revoked.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content%}
</div>
{% endblock %}
