{% extends "management/manage_base.html" %}
{% load sekizai_tags crispy_forms_tags humanize %}

{% block title %}{{ user.first_name }}'s Dashboard | {{ block.super }}{% endblock title %}

{% block content %}
<div class="content-wrapper">
  <div class="col-md-8 offset-md-2">
		<h1>Hello, {{ user.active_client }}!</h1>
		{% if stats.last_updated %}
		{% load tz %}
		<p><em>Last updated: {{ stats.last_updated|timezone:user.timezone|date:"Y-m-d g:i a" }} ({{ user.timezone }})</em></p>

		<h2>Summary</h2>
		<ul>
			<li><strong>Register:</strong> {{ stats.register|intcomma }}</li>
			<li><strong>Verify:</strong> {{ stats.verify|intcomma }}</li>
			<li><strong>Absentee:</strong> {{ stats.absentee|intcomma }}</li>
		</ul>

		{% endif %}
		<hr>
		<h2>Quick links</h2>
		<ul>
			<li>
				<a href="{% url 'manage:multi_tenant:embed_code' user.active_client_slug %}">Get your embed code</a>
			</li>
			<li>
				<a href="{% url 'manage:reporting:request' user.active_client_slug %}">Export your data</a>
			</li>
		</ul>
		<div class="callout">
			<h2>Have questions about the tools?</h2>
			<p>Check our our documentation to answer commonly asked questions. Topics covered include:<p>
			<ul>
				<li>Tool embeds</li>
				<li>Source tracking</li>
				<li>Export data dictionary</li>
				<li>Election API</li>
				<li>VoteAmerica dashboard</li>
			</ul>
			<a href="https://docs.voteamerica.com" class="btn btn-primary">Read the documentation</a>
		</div>

 {% comment %} <table class="table">
	<thead>
	  <th>State</th><th>Register</th><th>Verify</th><th>Absentee</th>
	</thead>
	<tbody>
	  {% for state, d in by_state %}
	  <tr>
	    <td>{{ state }}</td>
	    <td>{{ d.register }}</td>
	    <td>{{ d.verify }}</td>
	    <td>{{ d.absentee }}</td>
	  </tr>
	  {% endfor %}
	  <tfoot>
	    <td>Total</td>
	    <td>{{stats.register}}</td>
	    <td>{{stats.verify}}</td>
	    <td>{{stats.absentee}}</td>
	  </tfoot>
	</tbody>
      </table>
    <p>
      {% if stats.last_updated %}
      {% load tz %}
      Last updated: {{ stats.last_updated|timezone:user.timezone }} ({{ user.timezone }})
      {% endif %}
  </div>
		 {% endcomment %}
</div>
{% endblock %}
