{% extends "base.html" %}
{% load static sekizai_tags crispy_forms_tags %}

{% block body %}
<div id="wrap" class="wrap">
    <div class="container" id="main">
        <div class="row">
            <div class="col-md-6 offset-md-3 public-page-wrap">
                <div class="row">
                    <div class="col-md-12 premium-signup">
                        <h1>Sign up for premium tools</h1>
                        <form action="" method="post">
                            <h3>Contact Info</h3>
                            {{ form.organization_name|as_crispy_field }}
                            {{ form.website|as_crispy_field }}
                            {{ form.first_name|as_crispy_field }}
                            {{ form.last_name|as_crispy_field }}
                            {{ form.email|as_crispy_field }}
                            {{ form.phone|as_crispy_field }}

                            <h3>Subscription</h3>
                            {{ form.plan|as_crispy_field }}
                            {{ form.ein|as_crispy_field }}

                            <h3>SMS Program</h3>
                            <p>
                                For premium and nonprofit subscribers, we can ask
                                users for consent to join your SMS program. Free users
                                can ignore this section.
                            </p>
                            {{ form.sms_mode|as_crispy_field }}
                            <small class="form-text text-muted manual-help">**We strongly recommend consulting a TCPA attorney before selecting this option</small>
                            <button type="submit" class="btn btn-block btn-primary">Submit</button>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
