{% extends "base.html" %}
{% load static sekizai_tags crispy_forms_tags %}

{% block body %}
<div id="wrap" class="wrap">
    <div class="container" id="main">
        <div class="row">
            <div class="col-md-6 offset-md-3 public-page-wrap">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Thank you</h1>
                        <p>We'll be in contact via email soon with more details.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
