.card {
    border-radius: none;
    margin-bottom: 30px;
    .table {
        margin-bottom: 0;
    }
}

.btn-card {
    margin-bottom: 30px;
}

.card-header-with-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .card-header-actions a {
        margin-left: 25px;
    }
}
