header {
    margin-bottom: 1em;
}

footer {
    margin-top: 1em;
}

h1 {
    margin-top: .5em;
    margin-bottom: .5em;
}

.breadcrumb {
    margin-bottom: 1em;
}

.container {
    max-width: inherit;
    width: 100%;
}

.information-edit-form {
    textarea {
        height: 200px;
    }
}

.card {
    border: 1px solid $medium-gray;
}
