footer{
    background: $black;
    color: $white;
    text-align: center;
    padding: 65px 0;
    font-size: 16px;
    margin-top: 100px;

    a {
        color: $white;

        &:active,
        &:focus,
        &:hover{
            color: $white;
            text-decoration: underline;
        }
    }
}
