form {
    label {
        display: block;
        font-size: 16px;
        line-height: 120%;
        padding: 1px 0 0 0;
        font-weight: 600;
    }

    .textInput, .urlinput, .numberinput {
        font-size: 20px;
    }
    input[type="file"] {
        border: 0 !important;
        outline: none;
    }
    .form-control {
        color: #000;
        border-radius: 0;
        border: 1px solid $black;
        -webkit-appearance: none;
        -webkit-border-radius: 0px;

        &:focus {
            box-shadow: none;
            border: 1px solid $black !important;
        }
    }
    input[type="submit"], textarea {
        &:focus {
            border: 0 !important;
        }
    }
    select.form-control:not([size]):not([multiple]) {
        font-size: 20px;
        height: 44px;
    }
    // Django crispy forms doesn't add all the relevant classes for errors on
    // file inputs.
    .invalid-feedback {
        display: block;
    }
}
