table.table {
  font-size: 16px;

  /* This is some special case CSS for the state information tables.
     The URLs make them look bad without breaking words */
  &.table__state-info * {
    max-width: 350px;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  th {
    font-weight: 600;
    text-align: left;
    padding: 10px;
    border: 1px solid $black;
    background: $black;
    color: $white;
  }

  tbody {
    & > tr {

      &:nth-of-type(odd) {
        background: $gray;
      }
    }
  }

  tr {
    vertical-align: top;
    padding: 0;

    &:last-child {
      border: 0;
    }
  }

  td {
    padding: 10px;
    border: 1px solid $medium-gray;

    & ul {
      margin: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}