{% extends "management/manage_base.html" %}
{% load sekizai_tags tz %}

{% block title %}Subscriber | {{ block.super }}{% endblock title %}

{% block content %}
<div class="content-wrapper">
    <div class="col-lg-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Subscribers</li>
            </ol>
        </nav>
        <h1>Subscribers</h1>
        <div class="table-responsive-lg">
            <table class="table">
                <thead>
                    <tr>
                        <th>Subscriber</th>
                        <th>Primary Contact</th>
                        <th>Plan</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subscriber in subscribers %}
                    <tr>
                        <td>
                            {{ subscriber.name }}
                        </td>
                        <td>
                            <a href="mailto:{{subscriber.subscription.primary_contact_email}}">
                                {{ subscriber.subscription.primary_contact_first_name }} {{ subscriber.subscription.primary_contact_last_name }}
                            </a>
                        </td>
                        <td>
                            {{ subscriber.plan }}
                        </td>
                        <td>
                            {% if subscriber.subscription %}
                                <a href="{% url 'manage:subscription:edit_subscription' subscriber.slug %}">Manage Subscription</a>
                                &middot;
                            {% endif %}
                            <a href="{% url 'manage:subscription:edit_subscriber' subscriber.slug %}">Manage Settings</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if is_paginated %}
        {% include "management/inc/pagination.html" %}
        {% endif %}
    </div>
</div>
{% endblock %}
