{% extends "management/manage_base.html" %}
{% load sekizai_tags tz %}

{% block title %}Subscriber | {{ block.super }}{% endblock title %}

{% block content %}
<div class="content-wrapper">
    <div class="col-lg-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Subscribers</li>
            </ol>
        </nav>
        <h1>Subscribers</h1>
        <div class="table-responsive-lg">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subscriber in subscribers %}
                    <tr>
                        <td>
                            <a href="{% url 'manage:subscription:edit_subscriber' subscriber.slug %}">{{ subscriber.name }}</a>
                        </td>
                        <td>
                            {{ subscriber.status }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if is_paginated %}
        {% include "management/inc/pagination.html" %}
        {% endif %}
    </div>
</div>
{% endblock %}
