{% load static %}
<header class="container-fluid">
    <div class="row">
        <div class="col-6 col-lg-4">
            <div class="logo">
                <a href="{% url 'manage:home' user.active_client_slug %}">
                    <img src="{% static "img/logo/logo.svg" %}" alt="VoteAmerica" />
                </a>
            </div>
        </div>
        <div class="col-6 mobile__nav">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span>MENU</span>
            </button>
        </div>
        <div class="col-lg-8 header__right">
            <nav class="nav navbar navbar-expand-lg">
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown__actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Voters
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown__actions">
                                <a class="dropdown-item" href="{% url 'manage:register:registration_list' user.active_client_slug %}">Register</a>
                                <a class="dropdown-item" href="{% url 'manage:absentee:ballot_request_list' user.active_client_slug %}">Absentee</a>
                                <a class="dropdown-item" href="{% url 'manage:verifier:lookup_list' user.active_client_slug %}">Verify</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown__tools" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Tools
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown__tools">
                                <a class="dropdown-item" href="{% url 'manage:multi_tenant:embed_code' user.active_client_slug %}">Embed Code</a>
                                <a class="dropdown-item" href="{% url 'manage:reporting:request' user.active_client_slug %}">Exports</a>
                                <a class="dropdown-item" href="{% url 'manage:multi_tenant:manager_list' user.active_client_slug %}">Users</a>
                            </div>
                        </li>
                        {% if user.can_manage_election_information %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown__elections" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Elections
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown__tools">
                                <a class="dropdown-item" href="{% url 'manage:election:state_list' %}">States</a>
                                <a class="dropdown-item" href="{% url 'manage:election:fieldinformationtype_list' %}">Fields</a>
                                <a class="dropdown-item" href="{% url 'manage:absentee_override:leo_contact_override_list' %}">Absentee LEO Contact
                                    Overrides</a>
                            </div>
                        </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown__profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Profile
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown__profile">
                                {% if request.user.multi_client_admin %}
                                    <a class="dropdown-item" href="{% url 'manage:profile:change_subscriber' %}">Change Subscriber</a>
                                {% endif %}
                                <a class="dropdown-item" href="{% url 'manage:profile:update_profile' %}">Update Profile</a>
                                <a class="dropdown-item" href="{% url 'manage:profile:change_password' %}">Change Password</a>
                                <a class="dropdown-item" href="{% url 'two_factor:profile' %}">Two-factor Auth</a>
                                <a class="dropdown-item" href="{% url 'manage:logout' %}">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
