{% extends "base.html" %}
{% load static sekizai_tags crispy_forms_tags %}

{% block body %}
<div id="wrap" class="wrap">
    {% block content %}
    <div class="container" id="main">
        {% block subnav %}{% endblock subnav %}
        <div class="row">
            <div class="col-md-6 offset-md-3 public-page-wrap">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Turnout</h2>
                        <p class="subheading">2 Factor Authentication</p>
                        {% if device.confirmed %}
                        <p>Enter the code from your authenticator application below</p>
                        {% else %}
                        <p>Turnout requires the use of 2 Factor Authentication. Download Google Authenticator or Authy from your device's App
                            Store then scan the below QR code to enroll. To continue, enter the code displayed on your device.</p>
                        <p><img width="200" height="200" src="{% url "multifactor:totp_qrcode" pk=device.pk %}"></p>
                        {% endif %}
                        <form role="form" method="POST" action="">
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-block btn-primary">Verify</button>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content%}
</div>
{% endblock %}

